# --- Python ---
.ipynb_checkpoints/
__pycache__/
*.pyc
__pycache__/
*.py[cod]
*.so
*.egg-info/
configs/local_paths.yaml
build/
dist/

# --- Virtual env ---
.venv/
venv/
env/

# --- Jupyter ---
.ipynb_checkpoints/

# --- Editors/OS ---
.vscode/
.idea/
.DS_Store

# --- Data / artifacts (DON'T COMMIT) ---
datasets/
videos/
raw/
outputs/
outputs_not_used/
runs/
logs/
checkpoints/
weights/
artifacts/
fixed_splits/

# Common ML files
*.pt
*.pth
*.ckpt
*.onnx
*.engine
*.tflite
*.npz
*.npy

# Big media
*.mp4
*.avi
*.mkv
*.mov

# Archives
*.zip
*.tar
*.tar.gz
*.7z

